/* funding_plan item */

.funding_menu {
  font-family: 'gong';
  font-size: 20px;
  color :black;
  text-decoration-line: none;
  position: absolute;
  top: 53%;
  left: 37%;
}

.all_menu:hover, .earlybird_menu:hover, .category_menu:hover{
  color:black;
  transition: color 0.2s;
}
.funding_menu:hover{
  color: white;
  transition: color 0.2s;
}

/* funding_plan item */
#wapper.funplan{
  width: 90%;
  padding-top: 100px;
  display: flex;
  grid-template-columns: repeat(2, 600px);
  grid-template-rows: minmax(300px, auto);
  grid-gap: 100px 160px;
  align-items: center;
  margin: auto;
  justify-content: center;
}
.funp {
  display: flex;
  font-family: 'gong';
  font-size: 25px;
  color: #008299;
  justify-content: space-between;
}
.item h2 {
  font-family: 'gong';
  font-size: 28px;
  color: black;
  position: absolute;
  top: 45%;
  left: 37%;
}
.over {
  position: relative;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 420px;
  height: 300px;
  display: block;
  opacity: 0.6;

}
.over:hover {
  border: 2px solid #008299;
}
